gateway:
  interface: ens18

services:
  test:
    domain: test.example.com
    forward_to: test.example.com

peers:
  alpha:
    tunnel:
      endpoint: alpha.example.com
      psk: abc123
      ip: 10.0.0.1
    gateway:
      ip: 192.168.0.100
      ports: [80, 443]
  beta:
    tunnel:
      endpoint: beta.example.com
      psk: xyz789
      ip: 10.0.0.2
    gateway:
      ip: 192.168.0.200
      ports: [80, 443]
